<div class="container mt-3">
  <h1 class="display-1">{{ heading }}</h1>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row">
      <div class="mb-2 col-lg-6">
        <div class="row">
          <label for="firstName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
            First Name
          </label>
          <div class="col-md-10 col-lg-8">
            <input
              type="text"
              id="firstName"
              name="firstName"
              placeholder="First Name"
              class="form-control"
              [(ngModel)]="owner.firstName"
              required>
            <div class="invalid-feedback">
              First Name is required
            </div>
          </div>
        </div>
      </div>

      <div class="mb-2 col-lg-6">
        <div class="row">
          <label for="lastName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
            Last Name
          </label>
          <div class="col-md-10 col-lg-8">
            <input
              type="text"
              id="lastName"
              name="lastName"
              placeholder="Last Name"
              class="form-control"
              [(ngModel)]="owner.lastName"
              required>
            <div class="invalid-feedback">
              Last Name is required
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <label for="email" class="col-form-label text-md-end text-muted col-md-2">
        Email
      </label>
      <div class="col-md-10">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email (optional)"
          class="form-control"
          [(ngModel)]="owner.email">
      </div>
    </div>

    <div class="row mb-2">
      <label for="description" class="col-form-label text-md-end text-muted col-md-2">
        Description
      </label>
      <div class="col-md-10">
        <textarea
          id="description"
          name="description"
          placeholder="Enter owner description (optional)"
          class="form-control"
          [(ngModel)]="owner.description">
        </textarea>
      </div>
    </div>

    <div class="mt-4 d-flex flex-row">
      <button class="btn btn-primary" [disabled]="!form.valid" type="submit">
        {{ submitButtonText }}
      </button>
    </div>
  </form>
</div>
